<div class="home-container">
    <div class="content">
      <h1>Bienvenido a Mi Aplicación</h1>
      <p class="description">Una plataforma minimalista diseñada para simplificar tu vida diaria. Organiza tus libros, gestiona tus libros y mantén todo bajo control en un solo lugar.</p>
  
      <div class="features">
        <h2>Características Principales</h2>
        <ul>
          <li>Gestión de libros</li>
          <li>Editar los libros</li>
          <li>Borrar los libros</li>
          <li>Crear los libros</li>
        </ul>
      </div>
  
      <div class="actions">
        <button routerLink="/login">Comenzar</button>
        <a href="https://github.com/JD-OSORIO"><button>Más Información</button></a>
      </div>
    </div>
  </div>
