/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('../public/fondo.jpeg');
    width: 100%;
    background-size: cover;
    background-position: center;
    opacity:0.85;
    filter: contrast(150%);
}