<div class="container mt-4">
  <div class="card shadow-lg border-0">
    <div class="card-body">
      <h3 class="card-title text-primary fw-bold">{{ book()?.title }}</h3>
      <h5 class="card-subtitle text-muted">Autor: {{ book()?.author }}</h5>
      <h6 class="card-subtitle text-muted mb-3">Año de Publicación: {{ book()?.yearPublished }}</h6>

      <p class="mt-2">
        <strong>Estado del Libro:</strong>
        <span [ngClass]="book()?.bookStatus ? 'badge bg-success' : 'badge bg-danger'">
          {{ book()?.bookStatus ? 'Disponible' : 'Rentado' }}
        </span>
      </p>

      <div class="mt-4 d-flex gap-2">
        <a class="btn btn-secondary" routerLink="/books">
          <i class="bi bi-arrow-left"></i> Volver a la lista
        </a>

        <a *ngIf="authService.isOwner(book()?.userId)"
           class="btn btn-warning"
           [routerLink]="['/books/edit', book()?._id]">
          <i class="bi bi-pencil"></i> Editar
        </a>

        <button *ngIf="authService.isOwner(book()?.userId)"
                class="btn btn-danger"
                (click)="onClickBorrar(book()?._id)">
          <i class="bi bi-trash"></i> Borrar
        </button>
      </div>
    </div>
  </div>
</div>
